In [98]:
import pandas as pd

medals_url = "http://winterolympicsmedals.com/medals.csv"
medals_data = pd.read_csv(medals_url)

medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [99]:
import urllib3
http = urllib3.PoolManager()
r = http.request("GET",medals_url)
r.status
response = r.data.decode('utf-8').split("\n")

In [100]:
import csv
cr = csv.reader(response)
for row in cr:
    print(row)

 'UKR', 'ice dancing', 'X', 'Bronze']
['2006', 'Turin', 'Bobsleigh', 'Bobsleigh', 'USA', 'two-man', 'W', 'Silver']
['2006', 'Turin', 'Curling', 'Curling', 'USA', 'curling', 'M', 'Bronze']
['2006', 'Turin', 'Ice Hockey', 'Ice Hockey', 'USA', 'ice hockey', 'W', 'Bronze']
['2006', 'Turin', 'Skating', 'Figure skating', 'USA', 'ice dancing', 'X', 'Silver']
['2006', 'Turin', 'Skating', 'Figure skating', 'USA', 'individual', 'W', 'Silver']
['2006', 'Turin', 'Skating', 'Short Track S.', 'USA', '1000m', 'M', 'Bronze']
['2006', 'Turin', 'Skating', 'Short Track S.', 'USA', '5000m relay', 'M', 'Bronze']
['2006', 'Turin', 'Skating', 'Short Track S.', 'USA', '500m', 'M', 'Gold']
['2006', 'Turin', 'Skating', 'Speed skating', 'USA', '10000m', 'M', 'Silver']
['2006', 'Turin', 'Skating', 'Speed skating', 'USA', '1000m', 'M', 'Gold']
['2006', 'Turin', 'Skating', 'Speed skating', 'USA', '1000m', 'M', 'Silver']
['2006', 'Turin', 'Skating', 'Speed skating', 'USA', '1500m', 'M', 'Bronze']
['2006', 'Turin', 'Skating', 'Speed skating', 'USA', '1500m', 'M', 'Silver']
['2006', 'Turin', 'Skating', 'Speed skating', 'USA', '5000m', 'M', 'Gold']
['2006', 'Turin', 'Skating', 'Speed skating', 'USA', '500m', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'USA', 'Alpine combined', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Alpine Skiing', 'USA', 'giant slalom', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Freestyle Ski.', 'USA', 'moguls', 'M', 'Bronze']
['2006', 'Turin', 'Skiing', 'Snowboard', 'USA', 'Giant parallel slalom', 'W', 'Bronze']
['2006', 'Turin', 'Skiing', 'Snowboard', 'USA', 'Half-pipe', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Snowboard', 'USA', 'Half-pipe', 'M', 'Silver']
['2006', 'Turin', 'Skiing', 'Snowboard', 'USA', 'Half-pipe', 'W', 'Gold']
['2006', 'Turin', 'Skiing', 'Snowboard', 'USA', 'Half-pipe', 'W', 'Silver']
['2006', 'Turin', 'Skiing', 'Snowboard', 'USA', 'Snowboard Cross', 'M', 'Gold']
['2006', 'Turin', 'Skiing', 'Snowboard', 'USA', 'Snowboard Cross', 'W', 'Silver']